* {
    box-sizing: border-box;
    font-family: serif, Helvetica, sans-serif;
}

:root{
    --main-color: rgb(14, 90, 230);
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

